<app-bodega-create *ngIf="openForm" [openForm]="openForm" (cancelForm)="hideForm($event)"></app-bodega-create>

<div class="container-fluid" *ngIf="!openForm">
  <div class="d-flex justify-content-end mt-3 mr-3" *ngIf="filteredBodegas.length">
    <button class="btn btn-standard btn-sm ml-3 mr-3" type="button" (click)="showForm()" i18n>Bodegas mas vendidos</button>
    <button class="btn btn-standard btn-sm" type="button" (click)="showForm()" i18n>+ Crear Bodega</button>
  </div>

  <div class="row">
    <div class="filters col-md-3">
      <h1 class="mb-4" i18n>Bodegas</h1>
      <h2 i18n>Filtrar por:</h2>
      <div>
        <label for="nombre-filter" class="d-block mt-3 mb-1" i18n>Bodegas</label>
        <select id="nombre-filter" class="form-select form-select-sm bg-light" [(ngModel)]="nombreFilter">
          <option selected></option>
          <option *ngFor="let a of bodegas">{{a.nombreBodega}}</option>
        </select>
      </div>
      <div>
        <label for="ubicacionPais-filter" class="d-block mt-3 mb-1" i18n>Proveedores</label>
        <select id="ubicacionPais-filter" class="form-select form-select-sm bg-light" [(ngModel)]="ubicacionPaisFilter">
          <option selected></option>
          <option *ngFor="let g of bodegas">{{g.ubicacionPais}}</option>
        </select>
      </div>
      <div>
        <label for="tipo-filter" class="d-block mt-3 mb-1" i18n>Tipo</label>
        <select id="tipo-filter" class="form-select form-select-sm bg-light" [(ngModel)]="tipoFilter">
          <option selected></option>
          <option *ngFor="let l of tipos" [value]='l'>{{l}}</option>
        </select>
      </div>
    </div>


    <div class="bodegas-list col-md">
      <p> {{filteredBodegas?.length }} Bodegas encontrados</p>


      <div class="row filtered-bodegas" *ngIf="filteredBodegas.length">

        <table *ngIf="filteredBodegas?.length > 0"
          class="table table-striped"
          aria-describedby="bodegas-table">
          <thead>
            <tr>
              <th scope="col" class="text-center" i18n>Descripcion</th>
              <th scope="col" class="text-center" i18n>Proveedor</th>
              <th scope="col" class="text-center" i18n>Tipo</th>
              <th scope="col" class="text-center" i18n>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of filteredBodegas" class="p-2">
              <td class="p-3 align-middle">{{c.nombreBodega}}</td>
              <td class="p-3 align-middle">{{c.ubicacionPais}}</td>
              <td class="p-3 align-middle">{{c.tipoBodega}}</td>
              <td class="p-3 text-center">
                <button
                  type="button"
                  class="btn btn-standard btn-sm"
                  [ngClass]="{'active': actbtn == c.idBodega}"
                  (click)="onSelected(c);actbtn = c.idBodega"
                  i18n>mas info</button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="row no-bodegas" *ngIf="!filteredBodegas.length">
        <div class="col-10 mx-auto d-block mt-5">
          <div class="card text-center" style="height: 30rem;">
            <h5 class="card-header" i18n>0 results</h5>
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title" i18n>There are no bodegas</h5>
              <p class="card-text" i18n>Click the Add Bodega button to contribute to the catalog.</p>
              <button class="btn btn-standard btn-sm" type="button" (click)="showForm()" i18n>+ Crear bodega</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


