<app-bodega-create *ngIf="openForm" [openForm]="openForm" (cancelForm)="hideForm()"></app-bodega-create>

<div class="container-fluid" *ngIf="!openForm">
  <button class="btn btn-standard btn-sm" type="button" (click)="refresh()" i18n>{{'Update Page' | translate}}</button>
  <div class="d-flex justify-content-end mt-3 mr-3" *ngIf="filteredBodegas.length">
    <button class="btn btn-standard btn-sm ml-3 mr-3" type="button" (click)="showForm()" i18n>{{'Biggest warehouses' | translate}}</button>
    <button class="btn btn-standard btn-sm" type="button" (click)="showForm()" i18n>{{'+ Create a warehouse' | translate}}</button>
  </div>

  <div class="row">
    <div class="filters col-md-3">
      <h1 class="mb-4" i18n>{{'Warehouses' | translate}}</h1>
      <h2 i18n>{{'Filter by' | translate}}:</h2>
      <div>
        <label for="nombre-filter" class="d-block mt-3 mb-1" i18n>{{'Warehouses' | translate}}</label>
        <select id="nombre-filter" class="form-select form-select-sm bg-light" [(ngModel)]="nombreFilter">
          <option selected></option>
          <option *ngFor="let a of bodegas">{{a.nombreBodega}}</option>
        </select>
      </div>
      <div>
        <label for="pais-filter" class="d-block mt-3 mb-1" i18n>{{'Country' | translate}}</label>
        <select id="pais-filter" class="form-select form-select-sm bg-light" [(ngModel)]="paisFilter">
          <option selected></option>
          <option *ngFor="let g of bodegas">{{g.ubicacionPais}}</option>
        </select>
      </div>
      <div>
        <label for="ciudad-filter" class="d-block mt-3 mb-1" i18n>{{'City' | translate}}</label>
        <select id="ciudad-filter" class="form-select form-select-sm bg-light" [(ngModel)]="ciudadFilter">
          <option selected></option>
          <option *ngFor="let l of ciudades" [value]='l'>{{l}}</option>
        </select>
      </div>
      <div>
        <label for="zona-filter" class="d-block mt-3 mb-1" i18n>{{'Zone' | translate}}</label>
        <select id="zona-filter" class="form-select form-select-sm bg-light" [(ngModel)]="zonaFilter">
          <option selected></option>
          <option *ngFor="let d of bodegas">{{d.zonaLocalizacion}}</option>
        </select>
      </div>
    </div>


    <div class="bodegas-list col-md">
      <p> {{filteredBodegas.length }} {{'Warehouses found' | translate}}</p>


      <div class="row filtered-bodegas" *ngIf="filteredBodegas.length">

        <table *ngIf="filteredBodegas.length > 0"
          class="table table-striped"
          aria-describedby="bodegas-table">
          <thead>
            <tr>
              <th scope="col" class="text-center" i18n>{{'Name' | translate}}</th>
              <th scope="col" class="text-center" i18n>{{'Country' | translate}}</th>
              <th scope="col" class="text-center" i18n>{{'City' | translate}}</th>
              <th scope="col" class="text-center" i18n>{{'Zone' | translate}}</th>
              <th scope="col" class="text-center" i18n>{{'Actions' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of filteredBodegas" class="p-2">
              <td class="p-3 align-middle">{{c.nombreBodega}}</td>
              <td class="p-3 align-middle">{{c.ubicacionPais}}</td>
              <td class="p-3 align-middle">{{c.ubicacionCiudad}}</td>
              <td class="p-3 align-middle">{{c.zonaLocalizacion}}</td>
              <td class="p-3 text-center">
                <button
                  type="button"
                  class="btn btn-standard btn-sm"
                  [ngClass]="{'active': actbtn == c.idBodega}"
                  (click)="onSelected(c); actbtn = (actbtn == c.idBodega ? null : c.idBodega)"
                  i18n>{{'More info' | translate}}</button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <div class="bodega-list-detail right-col col align-self-center" (click)="hideDetails()">
          <div *ngIf="selected">
            <app-bodega-detail [bodegaDetail]="selectedBodega"></app-bodega-detail>
          </div>
        </div> -->
      </div>
      <div class="row no-bodegas" *ngIf="!filteredBodegas.length">
        <div class="col-10 mx-auto d-block mt-5">
          <div class="card text-center" style="height: 30rem;">
            <h5 class="card-header" i18n>{{'0 results' | translate}}</h5>
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title" i18n>{{'There are no warehouses' | translate}}</h5>
              <p class="card-text" i18n>{{'Click the Add a Warehouse button' | translate}}</p>
              <button class="btn btn-standard btn-sm" type="button" (click)="showForm()" i18n>{{'+ Create a warehouse' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


