<div class="row">
  <div class="col-md-6">
    <div *ngIf="newProductos" id="carouselCcp" class="carousel slide home" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselCcp" data-slide-to="0" class="active"></li>
        <li data-target="#carouselCcp" data-slide-to="1"></li>
        <li data-target="#carouselCcp" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{newProductos[0].imagenProducto}}" class="d-block" alt="Álbum {{newProductos[0].descripcionProducto}}">
        </div>
        <div class="carousel-item">
          <img src="{{newProductos[1].imagenProducto}}" class="d-block" alt="Álbum {{newProductos[1].descripcionProducto}}">
        </div>
        <div class="carousel-item">
          <img src="{{newProductos[2].imagenProducto}}" class="d-block" alt="Álbum {{newProductos[2].descripcionProducto}}">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselCcp" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselCcp" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="col-md-6 vertical-centered">
    <div>
      <h1 i18n>About us</h1>
      <p i18n> Cistema de CCP</p>
    </div>
  </div>
</div>
<div class="row pt-4">
  <div class="col-md-4">
    <h2 i18n>How it works</h2>
    <p i18n>Cistema de CCP </p>
  </div>
  <div class="col-md-4">
    <h2 i18n>Join us!</h2>
    <p i18n>Cistema de CCP
    </p>
  </div>
  <div class="col-md-4">
    <h2 i18n>The best experience</h2>
    <p i18n>Cistema de CCP
    </p>
  </div>
</div>
