<div class="form-container mx-auto">
  <h1 class="py-3 text-center" i18n>Associate an Album with a Collector</h1>
  <form [formGroup]="collectorAlbumForm"
  (ngSubmit)="!collectorAlbumForm.invalid && addAlbumToCollector(collectorAlbumForm.value)">
    <div class="collector-select form-group mx-sm-3 mb-2">
      <label for="collector" i18n>
          Collector
      </label>
      <select class="custom-select" (change)="changeCollector($event)" formControlName="collector" aria-label="Select collector">
        <option value="" i18n>Choose a collector</option>
        <option *ngFor="let collector of collectors" [value]="collector.id">{{collector.name}}</option>
     </select>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="collectorAlbumForm.get('collector').hasError('required') && collectorAlbumForm.get('collector').touched" i18n>
          Collector required
      </div>
    </div>
    <div class="album-select form-group mx-sm-3 mb-2">
      <label for="album" i18n>
          Album
      </label>
      <select class="custom-select" (change)="changeAlbum($event)" formControlName="album" aria-label="Select album">
        <option value="" i18n>Choose an album</option>
        <option *ngFor="let album of albums" [value]="album.id">{{album.name}}</option>
     </select>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="collectorAlbumForm.get('album').hasError('required') && collectorAlbumForm.get('album').touched" i18n>
          Album required
      </div>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="price" i18n>
          Price
      </label>
      <input novalidate id="price" class="form-control" formControlName="price" i18n-placeholder placeholder="Your price">
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="collectorAlbumForm.get('price').hasError('required') && collectorAlbumForm.get('price').touched" i18n>
          Price required
      </div>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="collectorAlbumForm.get('price').hasError('pattern')" i18n>
          Price must contain only numbers
      </div>
    </div>
    <div class="status-select form-group mx-sm-3 mb-2">
      <label for="status" i18n>
          Status
      </label>
      <select class="custom-select" (change)="changeStatus($event)" formControlName="status" aria-label="Select status">
        <option value="" i18n>Choose the status</option>
        <option *ngFor="let status of Status" [value]="status">{{status}}</option>
     </select>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="collectorAlbumForm.get('status').hasError('required') && collectorAlbumForm.get('status').touched" i18n>
          Status required
      </div>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <button type="submit" class="btn btn-standard" [disabled]="!collectorAlbumForm.valid" i18n>Create</button>
      <button type="button" class="btn btn-light ml-3" (click)="cancelCreation()" i18n>Cancel</button>
    </div>
  </form>
</div>

