
<div class="form-container mx-auto">
  <h1 class="py-3 text-center" i18n id = @@createMusician>Create musician</h1>
  <form
  [formGroup]="musicianForm"
  (ngSubmit)="!musicianForm.invalid && createMusician(musicianForm.value)">
  <div class="form-group mx-sm-3 mb-2">
      <label for="name" i18n id = @@name>
        Name
      </label>
      <input novalidate id="name" class="form-control" formControlName="name" placeholder="Musician name" i18n-placeholder>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="musicianForm.get('name').hasError('required') && musicianForm.get('name').touched" i18n id=@@nameRequired>
          Name required
      </div>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="musicianForm.get('name').hasError('minlength')" i18n id = @@nameTooShort>
          Name too short
      </div>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="performer-image" class="form-label" i18n>Image</label>
        <input type="text" id="image" class="form-control" formControlName="image" placeholder="URL">
        <img id="performer-image-preview" class="img-fluid my-3" [src]="url" (error)="clearUrl($event)" alt="performer image" *ngIf="url" i18n-alt>
        <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="musicianForm.get('image').hasError('required') && musicianForm.get('image').touched">
          Image required
        </div>
        <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="musicianForm.get('image').hasError('pattern') && musicianForm.get('image').touched" i18n>
          Image URL invalid
      </div>
    </div>

    <div class="form-group mx-sm-3 mb-2">
      <label for="birthDate" i18n id = @@birthDate>
          Birthdate
      </label>
      <input type="date" id="birthDate" class="form-control" formControlName="birthDate" placeholder="Musician birthDate" i18n-placeholder>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="musicianForm.get('birthDate').hasError('required') && musicianForm.get('birthDate').touched" i18n>
          Birthdate required
      </div>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="description" i18n id=@@description>
          Description
      </label>
      <input novalidate id="description" class="form-control" formControlName="description" placeholder="Musician description" i18n-placeholder>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="musicianForm.get('description').hasError('required') && musicianForm.get('description').touched" i18n id=@@descriptionRequired>
          Description required
      </div>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="musicianForm.get('description').hasError('minlength')" i18n id=@@descriptionTooShort>
          Description too short
      </div>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <button type="submit" class="btn btn-standard" [disabled]="!musicianForm.valid" i18n id=@@create>Create</button>
      <button type="button" class="btn btn-light ml-3" (click)="hideForm()" i18n id=@@cancel>Cancel</button>
    </div>
  </form>
</div>
