<app-menu></app-menu>
<div class="d-flex justify-content-end mt-3">
  <button class="btn btn-standard btn-sm" type="button" (click)="refresh()" i18n="@@updateInfo">{{'Update Page'| translate}}</button>
  <button class="btn btn-standard btn-sm" type="button" routerLink="/productos/" i18n>{{'Back to products'| translate}}</button>
</div>

<div class="panel-body">
  <div class="margin p-3">
    <h1 *ngIf="productoId" class="p-2">{{productoDetail.descripcionProducto}}</h1>
    <h2 *ngIf="productoId === undefined" class="p-2">{{productoDetail.descripcionProducto}}</h2>
      <div class="row">

        <div class="col">
          <div class="col-4">
            <div class="card-body">
            <div class="thumb text-center">
              <img class="img-thumbnail" src='{{productoDetail.imagenProducto}}' alt="Foto de {{productoDetail.imagenProducto}}" />
            </div>
          </div>
          <dl>
            <div *ngIf="productoDetail && productoDetail?.fechaVencimiento; else elseBlock">
              <dt i18n>{{'Description'| translate}}</dt>
              <dd>{{productoDetail.descripcionProducto}}</dd>
              <dt i18n id = @@creationDate>{{'Expiration date'| translate}}</dt>
            </div>
            <dd *ngIf="productoDetail">{{ productoDetail.fechaVencimiento |date:"longDate"}}</dd>
            <ng-template #elseBlock>
              <dt i18n>{{'Expiration date'| translate}}</dt>
            </ng-template>
            <dt i18n id = @@description>{{'Volume'| translate}}</dt>
            <dd *ngIf="productoDetail">{{productoDetail.volumenProducto}}</dd>
          </dl>
        </div>
      </div>
</div>
