<div class="panel-body">
  <div class="margin p-3">
    <h1 *ngIf="performerId > 0" class="p-2">{{performerDetail?.name}}</h1>
    <h2 *ngIf="performerId === undefined" class="p-2">{{performerDetail?.name}}</h2>
      <div class="row">
        <div class="col-4">
          <div class="thumb text-center">
            <img class="img-thumbnail" src='{{performerDetail?.image}}' alt="Foto de {{performerDetail?.name}}" />
          </div>
        </div>
        <div class="col">
          <dl>
            <div *ngIf="performerDetail && performerDetail?.creationDate; else elseBlock">
              <dt i18n>Band's name </dt>
              <dd>{{performerDetail?.name}}</dd>
              <dt i18n id = @@creationDate>Creation date</dt>
            </div>
            <dd *ngIf="performerDetail">{{ performerDetail.creationDate |date:"longDate"}}</dd>
            <ng-template #elseBlock>
              <dt i18n>Musician's name </dt>
              <dd>{{performerDetail?.name}}</dd>
              <dt i18n id = @@birthDate>Birthdate</dt>
            </ng-template>
            <dd *ngIf="performerDetail">{{ performerDetail.birthDate |date:"longDate"}}</dd>
            <dt i18n id = @@description>Description</dt>
            <dd *ngIf="performerDetail">{{performerDetail.description}}</dd>
          </dl>
        </div>
      </div>
  </div>
  <p class="h3 p-3" i18n id = @@relatedAlbums>Related albums</p>
  <div class="row p-1">
    <div *ngIf="!(performerDetail?.albums.length > 0)" class="h4 p-3" i18n>
      There isn't any related album
     </div>
    <div class="col-3" *ngFor="let b of performerDetail?.albums">
      <figure class="figure ml-5">
        <img class="img-fluid" src="{{b.cover}}" alt="Album cover" />
        <figcaption class="title-caption text-center mt-2">{{b.name}}</figcaption>
      </figure>
    </div>
  </div>
</div>
