<div class="form-container mx-auto">
  <h1 class="py-3 text-center" i18n id=@@createPrize>Create prize</h1>
  <form
  [formGroup]="prizeForm"
  (ngSubmit)="!prizeForm.invalid && createPrize(prizeForm.value)">
  <div class="form-group mx-sm-3 mb-2">
      <label for="name" i18n id=@@name>
          Name
      </label>
      <input novalidate id="name" class="form-control" formControlName="name" placeholder="Prize name" i18n-placeholder>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="prizeForm.get('name').hasError('required') && prizeForm.get('name').touched" i18n id=@@nameRequired>
          Name required
      </div>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="prizeForm.get('name').hasError('minlength')" i18n id=@@nameTooShort>
          Name too short
      </div>
    </div>


    <div class="form-group mx-sm-3 mb-2">
      <label for="organization" i18n id=@@organization>
          Organization
      </label>
      <input novalidate id="organization" class="form-control" formControlName="organization" placeholder="Organization's name" i18n-placeholder>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="prizeForm.get('organization').hasError('required') && prizeForm.get('organization').touched" i18n id=@@organizationRequired>
          Organization required
      </div>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="prizeForm.get('organization').hasError('minlength')" i18n id=@@organizationInvalid>
          Organization invalid
      </div>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="description" i18n id=@@description>
          Description
      </label>
      <input novalidate id="description" class="form-control" formControlName="description" placeholder="Description" i18n-placeholder>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="prizeForm.get('description').hasError('required') && prizeForm.get('description').touched" i18n id=@@descriptionRequired>
          Description required
      </div>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="prizeForm.get('description').hasError('minlength')" i18n id=@@descriptionInvalid>
          Description invalid
      </div>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <button type="submit" class="btn btn-standard" [disabled]="!prizeForm.valid" i18n id=@@create>Create</button>
      <button type="button" class="btn btn-light ml-3" (click)="hideForm()" i18n id=@@cancel>Cancel</button>
    </div>
  </form>
</div>
