.card {
  background-color: transparent;
}

.card-header {
  background-color: #051537;
}

.card img {
  max-height: 20rem;
}

.card-borders {
  border-color: white;
}

span > a {
  color: #FF6156;
  font-weight: bold;
}

.bg-red {
  background-color: #FF6156;
  color: #081B4A;
  font-weight: 800;
}
