<div class="form-container mx-auto">
  <h1 class="py-3 text-center" i18n>Create Collector</h1>
  <form [formGroup]="collectorForm"
  (ngSubmit)="!collectorForm.invalid && createCollector(collectorForm.value)">
    <div class="form-group mx-sm-3 mb-2">
      <label for="name" i18n>
          Name
      </label>
      <input novalidate id="name" class="form-control" formControlName="name" i18n-placeholder placeholder="Your Full Name">
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="collectorForm.get('name').hasError('required') && collectorForm.get('name').touched" i18n>
          Name required
      </div>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="collectorForm.get('name').hasError('minlength')" i18n>
          Name too short
      </div>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="telephone" i18n>
          Phone
      </label>
      <input novalidate id="telephone" class="form-control" formControlName="telephone" i18n-placeholder placeholder="Your Phone Number">
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="collectorForm.get('telephone').hasError('required') && collectorForm.get('telephone').touched" i18n>
          Phone number required
      </div>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="collectorForm.get('telephone').hasError('minlength')" i18n>
          Phone number too short
      </div>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="collectorForm.get('telephone').hasError('pattern')" i18n>
          Phone must contain only numbers
      </div>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="email" i18n>
          Email
      </label>
      <input novalidate id="email" class="form-control" formControlName="email" i18n-placeholder placeholder="Your Email">
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="collectorForm.get('email').hasError('required') && collectorForm.get('email').touched" i18n>
          Email required
      </div>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="collectorForm.get('email').hasError('email')" i18n>
          Write a valid email
      </div>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <button type="submit" class="btn btn-standard" [disabled]="!collectorForm.valid" i18n>Create</button>
      <button type="button" class="btn btn-light ml-3" (click)="cancelCreation()" i18n>Cancel</button>
    </div>
  </form>
</div>

