<a class="btn btn-standard btn-sm" (click)="hideForm()" i18n>&#8249; Go back</a>
<div class="form-container mx-auto album-form">
  <div class="mb-3">
    <h1 i18n>Add album</h1>
  </div>
  <form [formGroup]="albumForm" (ngSubmit)="!albumForm.invalid && createAlbum(albumForm.value)">
    <div class="mb-3">
      <label for="album-name" class="form-label" i18n>Name</label>
      <input formControlName="name" type="text" class="form-control" id="album-name" aria-describedby="album-name" placeholder="Album full name" i18n-placeholder>
      <div class="alert alert-danger alert-dismissible fade show" *ngIf="albumForm.get('name').hasError('required') &&
          albumForm.get('name').touched" i18n>
        *Name required
      </div>
    </div>

    <div class="mb-3">
      <label class="d-block mt-1 mb-1" i18n>Artist</label>
      <select formControlName="performers" id="artist-select" class="custom-select col-12"
        aria-label="Artist selection">
        <option selected value="" i18n>Select an artist</option>
        <option *ngFor="let p of performers" [ngValue]="p">{{p.name}}</option>
      </select>
      <div class="alert alert-danger alert-dismissible fade show" *ngIf="albumForm.get('performers').hasError('required') &&
          albumForm.get('performers').touched" i18n>
        *Required artist
      </div>
    </div>

    <div class="mb-3">
      <label for="album-cover" class="form-label" i18n>Cover</label>
      <input formControlName="cover" class="form-control" type="url" id="album-cover" aria-describedby="album-cover"
        (change)="onTypingUrl()" placeholder="URL" i18n-placeholder>
      <img id="album-cover-preview" class="img-fluid my-3" [src]="url" (error)="clearUrl($event)" alt="Album cover" *ngIf="url" i18n-alt>
      <div class="alert alert-danger alert-dismissible fade show" *ngIf="albumForm.get('cover').hasError('required') &&
          albumForm.get('cover').touched" i18n>
        *Image required
      </div>
      <div class="alert alert-danger alert-dismissible fade show img-verification" *ngIf="url == undefined" i18n>
        *Enter a valid image URL
      </div>
    </div>

    <div class="mb-3">
      <label for="album-description" class="form-label" i18n>Description</label>
      <textarea formControlName="description" class="form-control" id="album-description" rows="2"
        aria-describedby="album-description" placeholder="Album description" i18n-placeholder></textarea>

      <div class="alert alert-danger alert-dismissible fade show" *ngIf="albumForm.get('description').hasError('required') &&
        albumForm.get('description').touched" i18n>
        *Description required
      </div>
      <div class="alert alert-danger alert-dismissible fade show" *ngIf="albumForm.get('description').hasError('minlength') &&
        albumForm.get('description').touched" i18n>
        *Description too short
      </div>
    </div>

    <div class="mb-3">
      <label for="genre-select" class="d-block mt-3 mb-1" i18n>Genre</label>
      <select formControlName="genre" id="genre-select" class="custom-select col-12" aria-label="Genre selection">
        <option selected value="" i18n>Select a genre</option>
        <option *ngFor="let g of genres" [ngValue]="g">{{g}}</option>
      </select>
      <div class="alert alert-danger alert-dismissible fade show" *ngIf="albumForm.get('genre').hasError('required') &&
          albumForm.get('genre').touched" i18n>
        *Genre required
      </div>
    </div>

    <div class="mb-3">
      <label for="album-date" class="form-label" i18n>Release date</label>
      <input formControlName="releaseDate" type="date" id="album-date" class="form-control">
      <div class="alert alert-danger alert-dismissible fade show" *ngIf="albumForm.get('releaseDate').hasError('required') &&
          albumForm.get('releaseDate').touched" i18n>
        *Date required
      </div>
    </div>

    <div class="mb-3">
      <label for="label-select" class="d-block mt-3 mb-1" i18n>Record label</label>
      <select formControlName="recordLabel" id="label-select" class="custom-select col-12"
        aria-label="Record Label selection">
        <option selected value="" i18n>Select a record label</option>
        <option *ngFor="let l of labels" [ngValue]="l">{{l}}</option>
      </select>
      <div class="alert alert-danger alert-dismissible fade show" *ngIf="albumForm.get('recordLabel').hasError('required') &&
          albumForm.get('recordLabel').touched" i18n>
        *Label required
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="create-album-button btn btn-standard" [disabled]="!albumForm.valid || !url" i18n>Submit</button>
      <button type="button" class="btn btn-light ml-3" (click)="hideForm()" i18n>Cancel</button>
    </div>
  </form>
</div>
